In [1]:
%ls

db.sqlite3         Gendata.ipynb  manage.py*  myproject/    Quiz Django.ipynb
Exam Django.ipynb  init.sh        myapp/      notebook.sh*  Quiz panda.ipynb

In [2]:
import sqlite3
import pandas as pd
con = sqlite3.connect('db.sqlite3')
df = pd.read_sql_query("SELECT * FROM sqlite_master", con)
df

,type,name,tbl_name,rootpage,sql
0,table,django_migrations,django_migrations,2,"CREATE TABLE ""django_migrations"" (""id"" integer..."
1,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"
2,table,auth_group,auth_group,9,"CREATE TABLE ""auth_group"" (""id"" integer NOT NU..."
3,index,sqlite_autoindex_auth_group_1,auth_group,10,None
4,table,auth_group_permissions,auth_group_permissions,11,"CREATE TABLE ""auth_group_permissions"" (""id"" in..."
5,table,auth_user_groups,auth_user_groups,15,"CREATE TABLE ""auth_user_groups"" (""id"" integer ..."
6,table,auth_user_user_permissions,auth_user_user_permissions,16,"CREATE TABLE ""auth_user_user_permissions"" (""id..."
7,index,auth_group_permissions_group_id_permission_id_...,auth_group_permissions,20,CREATE UNIQUE INDEX auth_group_permissions_gro...
8,index,auth_group_permissions_group_id_b120cbf9,auth_group_permissions,21,"CREATE INDEX ""auth_group_permissions_group_id_..."
9,index,auth_group_permissions_permission_id_84c5c92e,auth_group_permissions,23,"CREATE INDEX ""auth_group_permissions_permissio..."
10,index,auth_user_groups_user_id_group_id_94350c0c_uniq,auth_user_groups,24,CREATE UNIQUE INDEX auth_user_groups_user_id_g...
11,index,auth_user_groups_user_id_6a12ed8b,auth_user_groups,25,"CREATE INDEX ""auth_user_groups_user_id_6a12ed8..."
12,index,auth_user_groups_group_id_97559544,auth_user_groups,26,"CREATE INDEX ""auth_user_groups_group_id_975595..."
13,index,auth_user_user_permissions_user_id_permission_...,auth_user_user_permissions,27,CREATE UNIQUE INDEX auth_user_user_permissions...
14,index,auth_user_user_permissions_user_id_a95ead1b,auth_user_user_permissions,29,"CREATE INDEX ""auth_user_user_permissions_user_..."
15,index,auth_user_user_permissions_permission_id_1fbb5f2c,auth_user_user_permissions,30,"CREATE INDEX ""auth_user_user_permissions_permi..."
16,table,django_admin_log,django_admin_log,35,"CREATE TABLE ""django_admin_log"" (""id"" integer ..."
17,index,django_admin_log_content_type_id_c4bce8eb,django_admin_log,31,"CREATE INDEX ""django_admin_log_content_type_id..."
18,index,django_admin_log_user_id_c564eba6,django_admin_log,33,"CREATE INDEX ""django_admin_log_user_id_c564eba..."
19,table,django_content_type,django_content_type,5,"CREATE TABLE ""django_content_type"" (""id"" integ..."
20,index,django_content_type_app_label_model_76bd3d3b_uniq,django_content_type,4,CREATE UNIQUE INDEX django_content_type_app_la...
21,table,auth_permission,auth_permission,34,"CREATE TABLE ""auth_permission"" (""id"" integer N..."
22,index,auth_permission_content_type_id_codename_01ab3...,auth_permission,6,CREATE UNIQUE INDEX auth_permission_content_ty...
23,index,auth_permission_content_type_id_2f476e4b,auth_permission,18,"CREATE INDEX ""auth_permission_content_type_id_..."
24,table,auth_user,auth_user,12,"CREATE TABLE ""auth_user"" (""id"" integer NOT NUL..."
25,index,sqlite_autoindex_auth_user_1,auth_user,13,None
26,table,myapp_member,myapp_member,19,"CREATE TABLE ""myapp_member"" (""id"" integer NOT ..."
27,table,django_session,django_session,42,"CREATE TABLE ""django_session"" (""session_key"" v..."
28,index,sqlite_autoindex_django_session_1,django_session,43,None
29,index,django_session_expire_date_a5c62663,django_session,44,"CREATE INDEX ""django_session_expire_date_a5c62..."
30,table,myapp_room,myapp_room,55,"CREATE TABLE ""myapp_room"" (""id"" integer NOT NU..."
31,table,myapp_rent,myapp_rent,384,"CREATE TABLE ""myapp_rent"" (""id"" integer NOT NU..."
32,index,myapp_rent_member_id_c328ad0a,myapp_rent,37,"CREATE INDEX ""myapp_rent_member_id_c328ad0a"" O..."
33,index,myapp_rent_room_id_e0d974f9,myapp_rent,193,"CREATE INDEX ""myapp_rent_room_id_e0d974f9"" ON ..."

In [3]:
df_member = pd.read_sql_query("SELECT * FROM myapp_member", con, index_col='id')
df_room = pd.read_sql_query("SELECT * FROM myapp_room", con, index_col='id')
df_rent = pd.read_sql_query("SELECT * FROM myapp_rent", con, index_col='id', parse_dates=['start','stop'])

In [6]:
df=df_rent.merge(df_member,left_on='member_id',right_index=True)\
    .merge(df_room, left_on='room_id',right_index=True)
df['hours']=(df_rent.stop-df_rent.start).apply(lambda x: x.seconds)//3600
df['cost']=df['hour_price']*df['hours']
df.groupby(by=['member_id','name'])\
    .agg({'cost' : ['sum']})\
    .sort_values(by=[('cost','sum')], ascending=False)

                             cost
                              sum
member_id name
94        Oscar Smith     15116.0
59        Jacob Jones     14730.0
89        George Davies   14303.0
68        Harry Williams  13910.0
77        Jack Jones      13668.0
82        Claire Brown    13593.0
10        Harry Jones     13266.0
8         Thomas Davies   13043.0
81        Charlie Thomas  12963.0
93        James Smith     12945.0
36        William Taylor  12935.0
66        Charlie Davies  12651.0
45        Oliver Taylor   12506.0
9         Oscar Jones     12089.0
76        Charlie Brown   12047.0
24        Oliver Evans    11983.0
11        William Evans   11880.0
63        Harry Evans     11645.0
74        George Smith    11583.0
4         Oliver Johnson  11406.0
61        Claire Evans    11405.0
49        George Jones    11320.0
87        William Davies  11187.0
65        Jack Williams   11176.0
30        Jacob Thomas    11038.0
55        William Jones   10996.0
80        Thomas Wilson   10829.0
69        Thomas Brown    10809.0
23        Oscar Johnson   10748.0
15        James Wilson    10747.0
...                           ...
2         James Jones      8545.0
98        George Wilson    8527.0
92        Claire Davies    8525.0
44        Thomas Smith     8480.0
22        William Thomas   8465.0
5         Oliver Jones     8423.0
67        Oliver Brown     8169.0
53        Oscar Taylor     8014.0
12        Jacob Williams   7807.0
18        Harry Davies     7804.0
73        Jack Wilson      7776.0
97        Claire Wilson    7724.0
54        Oliver Thomas    7629.0
70        Charlie Jones    7578.0
32        Harry Smith      7557.0
72        Jacob Johnson    7486.0
47        Charlie Evans    7437.0
58        Harry Brown      7405.0
91        Oliver Wilson    7376.0
42        William Wilson   7340.0
52        George Evans     7323.0
83        Oscar Brown      7217.0
88        George Thomas    7155.0
71        James Johnson    7143.0
34        Jack Brown       6838.0
33        Oscar Davies     6537.0
31        Oscar Wilson     6071.0
20        Oscar Evans      5823.0
26        Thomas Taylor    5797.0
84        Jacob Davies     5470.0

[100 rows x 1 columns]

In [23]:
from datetime import datetime
start = datetime.strptime( "2018-06-01T00:00:00", "%Y-%m-%dT%H:%M:%S" )
stop = datetime.strptime( "2018-06-30T23:59:59", "%Y-%m-%dT%H:%M:%S" )
df=df_rent
df=df[(start<=df.start) & (df.stop<=stop)]
df=df.merge(df_member,left_on='member_id',right_index=True)\
    .merge(df_room, left_on='room_id',right_index=True)
df['hours']=(df_rent.stop-df_rent.start).apply(lambda x: x.seconds)//3600
df['cost']=df['hour_price']*df['hours']
df.groupby(by=['member_id','name'])\
    .agg({'cost' : ['sum']})\
    .sort_values(by=[('cost','sum')], ascending=False)
df.sort_values(by=['hours'])

,start,stop,member_id,room_id,cost,name,mobile,number,hour_price,isavailable,hours
id,,,,,,,,,,,
1585,2018-06-30 04:01:18.462109,2018-06-30 05:01:18.462109,11,6,105.0,William Evans,,101,105,1,1.0
1438,2018-06-23 08:01:18.462109,2018-06-23 09:01:18.462109,23,9,130.0,Oscar Johnson,,104,130,1,1.0
1514,2018-06-27 09:01:18.462109,2018-06-27 10:01:18.462109,77,9,130.0,Jack Jones,,104,130,1,1.0
1319,2018-06-18 10:01:18.462109,2018-06-18 11:01:18.462109,61,10,199.0,Claire Evans,,105,199,1,1.0
1317,2018-06-18 09:01:18.462109,2018-06-18 10:01:18.462109,63,9,130.0,Harry Evans,,104,130,1,1.0
1084,2018-06-08 10:01:18.462109,2018-06-08 11:01:18.462109,63,9,130.0,Harry Evans,,104,130,1,1.0
1495,2018-06-26 10:01:18.462109,2018-06-26 11:01:18.462109,20,6,105.0,Oscar Evans,,101,105,1,1.0
1587,2018-06-30 04:01:18.462109,2018-06-30 05:01:18.462109,31,9,130.0,Oscar Wilson,,104,130,1,1.0
1067,2018-06-07 19:01:18.462109,2018-06-07 20:01:18.462109,31,9,130.0,Oscar Wilson,,104,130,1,1.0
1533,2018-06-28 03:01:18.462109,2018-06-28 04:01:18.462109,23,9,130.0,Oscar Johnson,,104,130,1,1.0
1469,2018-06-25 05:01:18.462109,2018-06-25 06:01:18.462109,62,9,130.0,Jack Smith,,104,130,1,1.0
1069,2018-06-07 22:01:18.462109,2018-06-07 23:01:18.462109,1,6,105.0,Oscar Williams,,101,105,1,1.0
1598,2018-06-30 18:01:18.462109,2018-06-30 19:01:18.462109,3,6,105.0,Claire Thomas,,101,105,1,1.0
1325,2018-06-18 14:01:18.462109,2018-06-18 15:01:18.462109,41,9,130.0,William Johnson,,104,130,1,1.0
1027,2018-06-06 00:01:18.462109,2018-06-06 01:01:18.462109,41,9,130.0,William Johnson,,104,130,1,1.0
958,2018-06-02 20:01:18.462109,2018-06-02 21:01:18.462109,14,10,199.0,Jacob Evans,,105,199,1,1.0
1034,2018-06-06 08:01:18.462109,2018-06-06 09:01:18.462109,96,9,130.0,Claire Jones,,104,130,1,1.0
1462,2018-06-24 17:01:18.462109,2018-06-24 18:01:18.462109,67,9,130.0,Oliver Brown,,104,130,1,1.0
1278,2018-06-16 19:01:18.462109,2018-06-16 20:01:18.462109,67,9,130.0,Oliver Brown,,104,130,1,1.0
1040,2018-06-06 14:01:18.462109,2018-06-06 15:01:18.462109,87,9,130.0,William Davies,,104,130,1,1.0
1180,2018-06-12 15:01:18.462109,2018-06-12 16:01:18.462109,61,10,199.0,Claire Evans,,105,199,1,1.0
1502,2018-06-26 19:01:18.462109,2018-06-26 20:01:18.462109,31,6,105.0,Oscar Wilson,,101,105,1,1.0
1063,2018-06-07 14:01:18.462109,2018-06-07 15:01:18.462109,27,10,199.0,George Williams,,105,199,1,1.0
1425,2018-06-22 17:01:18.462109,2018-06-22 18:01:18.462109,35,10,199.0,Jack Davies,,105,199,1,1.0
1177,2018-06-12 14:01:18.462109,2018-06-12 15:01:18.462109,82,7,100.0,Claire Brown,,102,100,1,1.0
1160,2018-06-12 01:01:18.462109,2018-06-12 02:01:18.462109,82,7,100.0,Claire Brown,,102,100,1,1.0
925,2018-06-01 09:01:18.462109,2018-06-01 10:01:18.462109,82,7,100.0,Claire Brown,,102,100,1,1.0
928,2018-06-01 11:01:18.462109,2018-06-01 12:01:18.462109,70,7,100.0,Charlie Jones,,102,100,1,1.0
924,2018-06-01 03:01:18.462109,2018-06-01 04:01:18.462109,70,7,100.0,Charlie Jones,,102,100,1,1.0
1340,2018-06-19 05:01:18.462109,2018-06-19 06:01:18.462109,68,9,130.0,Harry Williams,,104,130,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1097,2018-06-08 21:01:18.462109,2018-06-09 02:01:18.462109,82,10,995.0,Claire Brown,,105,199,1,5.0
1000,2018-06-04 23:01:18.462109,2018-06-05 04:01:18.462109,50,7,500.0,Oliver Davies,,102,100,1,5.0
1596,2018-06-30 14:01:18.462109,2018-06-30 19:01:18.462109,44,7,500.0,Thomas Smith,,102,100,1,5.0
1460,2018-06-24 15:01:18.462109,2018-06-24 21:01:18.462109,61,6,630.0,Claire Evans,,101,105,1,6.0
969,2018-06-03 06:01:18.462109,2018-06-03 12:01:18.462109,85,8,1020.0,Jack Thomas,,103,170,1,6.0
1370,2018-06-20 11:01:18.462109,2018-06-20 17:01:18.462109,85,8,1020.0,Jack Thomas,,103,170,1,6.0
1138,2018-06-11 01:01:18.462109,2018-06-11 07:01:18.462109,72,10,1194.0,Jacob Johnson,,105,199,1,6.0
1468,2018-06-25 05:01:18.462109,2018-06-25 11:01:18.462109,52,7,600.0,George Evans,,102,100,1,6.0
1164,2018-06-12 03:01:18.462109,2018-06-12 09:01:18.462109,79,7,600.0,Jacob Wilson,,102,100,1,6.0
943,2018-06-02 03:01:18.462109,2018-06-02 09:01:18.462109,5,9,780.0,Oliver Jones,,104,130,1,6.0
1503,2018-06-26 20:01:18.462109,2018-06-27 02:01:18.462109,71,9,780.0,James Johnson,,104,130,1,6.0
1481,2018-06-25 16:01:18.462109,2018-06-25 22:01:18.462109,13,8,1020.0,Thomas Evans,,103,170,1,6.0
964,2018-06-03 03:01:18.462109,2018-06-03 09:01:18.462109,5,7,600.0,Oliver Jones,,102,100,1,6.0
1313,2018-06-18 06:01:18.462109,2018-06-18 12:01:18.462109,59,8,1020.0,Jacob Jones,,103,170,1,6.0
1475,2018-06-25 13:01:18.462109,2018-06-25 20:01:18.462109,10,7,700.0,Harry Jones,,102,100,1,7.0
1450,2018-06-23 23:01:18.462109,2018-06-24 06:01:18.462109,81,9,910.0,Charlie Thomas,,104,130,1,7.0
1226,2018-06-14 16:01:18.462109,2018-06-14 23:01:18.462109,98,9,910.0,George Wilson,,104,130,1,7.0
1041,2018-06-06 15:01:18.462109,2018-06-06 22:01:18.462109,61,9,910.0,Claire Evans,,104,130,1,7.0
1443,2018-06-23 12:01:18.462109,2018-06-23 19:01:18.462109,10,10,1393.0,Harry Jones,,105,199,1,7.0
1591,2018-06-30 07:01:18.462109,2018-06-30 14:01:18.462109,74,7,700.0,George Smith,,102,100,1,7.0
1592,2018-06-30 07:01:18.462109,2018-06-30 14:01:18.462109,63,10,1393.0,Harry Evans,,105,199,1,7.0
1597,2018-06-30 14:01:18.462109,2018-06-30 21:01:18.462109,13,8,1190.0,Thomas Evans,,103,170,1,7.0
1409,2018-06-21 23:01:18.462109,2018-06-22 07:01:18.462109,36,10,1592.0,William Taylor,,105,199,1,8.0
1300,2018-06-17 17:01:18.462109,2018-06-18 01:01:18.462109,57,6,840.0,Oliver Williams,,101,105,1,8.0
1196,2018-06-13 10:01:18.462109,2018-06-13 18:01:18.462109,90,9,1040.0,James Thomas,,104,130,1,8.0
1171,2018-06-12 08:01:18.462109,2018-06-12 16:01:18.462109,50,8,1360.0,Oliver Davies,,103,170,1,8.0
1136,2018-06-10 22:01:18.462109,2018-06-11 07:01:18.462109,76,8,1530.0,Charlie Brown,,103,170,1,9.0
1594,2018-06-30 10:01:18.462109,2018-06-30 19:01:18.462109,11,9,1170.0,William Evans,,104,130,1,9.0
1060,2018-06-07 12:01:18.462109,2018-06-08 01:01:18.462109,8,7,1300.0,Thomas Davies,,102,100,1,13.0
933,2018-06-01 20:01:18.462109,2018-06-02 10:01:18.462109,39,6,1470.0,Jack Johnson,,101,105,1,14.0